@import "tailwindcss";

body {
  margin: 0;
  font-family: "Poppins", system-ui, sans-serif;
  font-optical-sizing: auto;
}

@media print {
  aside {
    display: none !important;
  }
  .print\:hidden {
    display: none !important;
  }
}
